@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap");
img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .hidden-pc {
    display: none;
  }
}

.color-accent {
  color: #ee5a6d;
}

.inner {
  margin-inline: auto;
  max-width: 1280px;
}
@media screen and (min-width: 1025px) {
  .inner {
    padding-inline: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner {
    padding-inline: 40px;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    padding-inline: 20px;
  }
}

.inline-block {
  display: inline-block;
}

.util__title {
  color: #393939;
  text-align: center;
  font-family: "M PLUS Rounded 1c";
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.08em;
  padding-left: 95.5px;
  padding-right: 93px;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 767px) {
  .util__title {
    text-align: center;
    font-size: 20px;
    padding-inline: 65px;
  }
}
.util__title::before, .util__title::after {
  position: absolute;
  top: 11px;
  content: "";
  color: #1391e6;
  background: url("../img/title-deco.svg");
  width: 67px;
  height: 20px;
}
@media screen and (max-width: 767px) {
  .util__title::before, .util__title::after {
    width: 49px;
    height: 13px;
    background: url("../img/sp/title-deco-sp.svg");
    top: 8px;
  }
}
.util__title::before {
  left: 0;
}
.util__title::after {
  right: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

.header {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  opacity: 0.85;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
@media screen and (max-width: 1200px) {
  .header {
    height: 60px;
  }
}
.header.drawer-open {
  background: #0060a0;
}

.header__inner {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1200px) {
  .header__inner {
    padding-left: 20px;
    padding-right: 17px;
  }
}
@media screen and (max-width: 374px) {
  .header__inner {
    padding-inline: 5px;
  }
}

.header__left-wrapper {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1200px) {
  .header__left-wrapper {
    width: 200px;
  }
}

.header__icon {
  height: 32px;
}

.header__logo {
  width: 225px;
  height: 30px;
  margin-left: 11px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .header__right .header__nav {
    position: absolute;
    top: 60px;
    right: -100%;
    background: #0060a0;
    width: 100%;
    height: 100vh;
  }
  .drawer-open .header__right .header__nav {
    right: 0;
  }
}

.header__nav--list {
  padding-top: 16px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .header__nav--list {
    padding-top: 40px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

.header__nav--item {
  padding-inline: 12px;
}
@media screen and (max-width: 1200px) {
  .header__nav--item {
    color: #fff;
    width: 254px;
    margin-inline: auto;
    position: relative;
  }
  .header__nav--item:before, .header__nav--item:last-child::after {
    position: absolute;
    content: "";
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0;
    width: 254px;
    height: 2px;
    background-image: url("../img/border.svg");
  }
  .header__nav--item:last-child::after {
    top: auto;
    bottom: 0;
  }
}
@media screen and (min-width: 1025px) {
  .header__nav--item:hover {
    color: #1391e6;
  }
  .header__nav--item:hover .header__nav--text::after {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
}

@media screen and (max-width: 1200px) {
  .header__nav--wrapper {
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav--icon {
  height: 24px;
  margin-inline: auto;
  display: grid;
  place-items: center;
}
.header__nav--icon svg {
  display: grid;
  place-items: center;
}
.header__nav--icon svg path {
  fill: currentColor;
}
@media screen and (max-width: 1200px) {
  .header__nav--icon svg path {
    fill: #fff;
  }
}

.header__nav--text {
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  position: relative;
}
.header__nav--item:nth-of-type(1) .header__nav--text {
  padding-top: 6px;
}
@media screen and (min-width: 1201px) {
  .header__nav--text::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
    width: 20px;
    height: 2px;
    background-color: currentColor;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
}
@media screen and (max-width: 1200px) {
  .header__nav--text {
    margin-left: 14px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: left;
  }
  .header__nav--text::after {
    position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    width: 14px;
    height: 14px;
    background: no-repeat url(../img/icon-right.svg) center center/cover;
  }
}

.header__info {
  padding-top: 10px;
  margin-left: 20px;
  text-align: right;
}
@media screen and (max-width: 1200px) {
  .header__info {
    display: none;
  }
}
.header__info .header__address {
  font-size: 12px;
  font-weight: 500;
}
.header__info .header__tel {
  margin-top: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1391e6;
  width: 261px;
  height: 48px;
}
.header__info .header__tel--icon {
  width: 28px;
  height: 28px;
  padding-top: 8px;
}
.header__info .header__tel--number {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.64px;
  margin-left: 4px;
}

.header__hamburger-icon {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__hamburger-icon {
    display: block;
    width: 32px;
    height: 32px;
    margin-block: 14px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
  }
}

.header__drawer-bar {
  display: block;
  left: 3px;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__drawer-bar:nth-child(1) {
  top: 8px;
}
.header__drawer-bar:nth-child(2) {
  top: 15px;
}
.header__drawer-bar:nth-child(3) {
  top: 22px;
}
.drawer-open .header__drawer-bar path {
  fill: #fff;
}
.drawer-open .header__drawer-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 15px;
  left: 5px;
}
.drawer-open .header__drawer-bar:nth-child(2) {
  display: none;
}
.drawer-open .header__drawer-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 15px;
  left: 5px;
}

.mv {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .mv {
    margin-top: 15px;
  }
}

.swiper {
  height: 520px;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
  padding-inline: 60px;
}
@media screen and (max-width: 767px) {
  .swiper {
    height: 447px;
    padding-inline: 20px;
  }
}

.swiper-slide {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .swiper-slide {
    border-radius: 8px;
  }
}
.swiper-slide::after {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-vertical > .swiper-pagination-bullets {
  top: initial;
  bottom: -29px;
  left: 37px;
  right: initial;
}
@media screen and (max-width: 767px) {
  .swiper-container-vertical > .swiper-pagination-bullets {
    bottom: -12px;
    left: 7px;
  }
}

.swiper-pagination-bullet {
  background: #c2c2c2;
  width: 8px;
  height: 8px;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-top: 10px !important;
}
@media screen and (max-width: 767px) {
  .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-top: 8px !important;
  }
}

.swiper-pagination-bullet-active {
  background: #1391e6;
}

.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  margin-top: -27px;
}
@media screen and (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    margin-top: -19px;
  }
}

.swiper-button-prev {
  left: 32px;
  background: url(../img/swiper-button-prev.svg) center center/cover;
}
@media screen and (max-width: 767px) {
  .swiper-button-prev {
    left: 0;
  }
}

.swiper-button-next {
  right: 28px;
  background: url(../img/swiper-button-next.svg) center center/cover;
}
@media screen and (max-width: 767px) {
  .swiper-button-next {
    right: 0;
  }
}

.mv__message {
  position: absolute;
  top: 347px;
  left: 122px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .mv__message {
    top: 332px;
    left: 40px;
  }
}

.mv__message--text {
  color: #fff;
  text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2.56px;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 767px) {
  .mv__message--text {
    font-size: 20px;
    letter-spacing: 1.6px;
  }
}
.mv__message--text::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 4px;
  background: url("../img/repeat-grid.png");
}
@media screen and (max-width: 767px) {
  .mv__message--text::after {
    background: url("../img/sp/repeat-grid-sp.png");
    height: 2px;
    bottom: -3px;
  }
}
.mv__message--text:nth-of-type(2) {
  margin-top: 18px;
}
@media screen and (max-width: 767px) {
  .mv__message--text:nth-of-type(2) {
    margin-top: 13px;
  }
}

.mv__reservation {
  width: 92px;
  height: 120px;
  border-radius: 20px 0px 0px 20px;
  background: #1391e6;
  position: absolute;
  top: 56px;
  right: 0;
  z-index: 150;
}

.mv__reservation--icon {
  width: 52px;
  height: 32px;
  margin-top: 20px;
  margin-inline: auto;
}

.mv__reservation--text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
  margin-top: 11px;
}

.mv__footer {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .mv__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40px;
  }
}

.mv__news {
  width: 542px;
}
@media screen and (max-width: 767px) {
  .mv__news {
    width: 100%;
    padding-inline: 20px;
  }
}

.mv__news--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7px;
  border-bottom: 1px solid currentColor;
}
@media screen and (max-width: 767px) {
  .mv__news--head {
    padding-bottom: 6px;
  }
}

.mv__news--top-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 13px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .mv__news--top-title {
    margin-left: 15px;
  }
}
.mv__news--top-title span {
  margin-left: 14px;
  color: #1391e6;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-top: 11px;
}
@media screen and (max-width: 767px) {
  .mv__news--top-title span {
    font-size: 11px;
    letter-spacing: 1.1px;
    margin-left: 13px;
    margin-top: 12px;
  }
}

.mv__news--past {
  color: #888;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: -1px;
  width: 132px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .mv__news--past {
    font-size: 11px;
    margin-top: 9px;
    margin-right: -11px;
  }
}

.mv__news--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid currentColor;
  height: 39px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.mv__news--body:hover {
  color: #1391e6;
  border-bottom: 1px solid #393939;
}

.mv__news--time {
  font-size: 12px;
  font-weight: 500;
  margin-top: 1px;
  margin-left: 13px;
}
@media screen and (max-width: 767px) {
  .mv__news--time {
    margin-top: 14px;
    margin-left: 6px;
  }
}

.mv__news--title {
  margin-left: 24px;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .mv__news--title {
    margin-top: 12px;
  }
}

.mv__news--arrow {
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .mv__news--arrow {
    margin-top: 9px;
    margin-right: 4px;
    width: 16px;
  }
}
.mv__news--body:hover .mv__news--arrow {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}
.mv__news--body:hover .mv__news--arrow path {
  stroke: #1391e6;
}

.mv__schedule {
  margin-top: -53px;
  width: 477px;
  height: 166px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 1000;
}
.mv__schedule img {
  width: 484px;
  height: 172px;
  -o-object-fit: none;
     object-fit: none;
}
@media screen and (max-width: 767px) {
  .mv__schedule {
    width: 335px;
    height: 116px;
    margin-inline: auto;
    margin-top: -42px;
  }
  .mv__schedule img {
    width: 335px;
    height: 116px;
    -o-object-fit: none;
       object-fit: none;
  }
}

.concept {
  margin-top: 60px;
  padding-top: 180px;
  padding-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.concept::after {
  position: absolute;
  top: 0;
  left: 416px;
  background: url("../img/concept-bg.png") no-repeat;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .concept {
    margin-top: 60px;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .concept::after {
    top: 0;
    left: 10px;
    background: url("../img/sp/concept-bg_sp.png") no-repeat;
  }
}

.concept__img {
  width: 640px;
  height: 438px;
}
@media screen and (max-width: 767px) {
  .concept__img {
    margin-top: 41px;
    width: 334px;
    height: 230px;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
  }
}

.concept__content {
  margin-left: 95px;
  width: 407px;
}
@media screen and (max-width: 767px) {
  .concept__content {
    margin-left: 0;
    padding-inline: 20px;
    width: 100%;
  }
}

.concept__content--title-sub {
  color: #1391e6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-top: 35px;
}
@media screen and (max-width: 767px) {
  .concept__content--title-sub {
    font-size: 11px;
    letter-spacing: 1.1px;
    margin-top: 111px;
  }
}

.concept__content--title-main {
  font-size: 28px;
  font-weight: 700;
  line-height: 44px; /* 157.143% */
  letter-spacing: 2.24px;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .concept__content--title-main {
    font-size: 20px;
    line-height: 32px; /* 160% */
    letter-spacing: 1.6px;
    margin-top: 13px;
  }
}

.concept__content--text {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  margin-top: 35px;
}
@media screen and (max-width: 767px) {
  .concept__content--text {
    margin-top: 27px;
  }
}

.concept__btn {
  font-size: 14px;
  font-weight: 500;
  margin-top: 37px;
}
@media screen and (max-width: 767px) {
  .concept__btn {
    text-align: center;
  }
}

.recommend {
  margin-top: 116px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .recommend {
    margin-top: 98px;
  }
}

.recommend__list {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .recommend__list {
    margin-top: 37px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 57px;
  }
}

.recommend__number {
  width: 182px;
  height: 33px;
  margin-inline: auto;
}
.recommend__item:nth-of-type(1) .recommend__number {
  width: 177px;
}
@media screen and (max-width: 767px) {
  .recommend__number {
    width: 177px;
  }
}

.recommend__img {
  width: 220px;
  height: 220px;
  margin-top: 15px;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .recommend__img {
    margin-top: 12px;
  }
}

.recommend__text--main {
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.6px;
  width: 276px;
  height: 44px;
  border-radius: 22px;
  background: #1391e6;
  margin-top: -21px;
  margin-inline: auto;
  position: relative;
}
.recommend__text--main::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -21px;
  background: url("../img/recommend-polygon.svg") no-repeat;
  width: 20px;
  height: 26px;
  content: "";
  margin-left: 1px;
}
@media screen and (max-width: 767px) {
  .recommend__text--main::after {
    margin-left: 3px;
  }
}
@media screen and (max-width: 767px) {
  .recommend__text--main {
    margin-top: -23px;
  }
}

.recommend__text--sub {
  width: 281px;
  line-height: 24px; /* 171.429% */
  margin-top: 34px;
  text-align: left;
}
.recommend__item:nth-of-type(2) .recommend__text--sub {
  width: 284px;
}

.medical {
  margin-top: 115px;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 200px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .medical {
    margin-top: 97px;
    padding-top: 117px;
    padding-bottom: 90px;
  }
}
.medical::after {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/medical-bg.png") center/contain no-repeat;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .medical::after {
    background: url("../img/sp/medical-bg-sp.png") center/contain no-repeat;
  }
}

.medical_inner {
  padding-inline: 140px;
}
@media screen and (max-width: 767px) {
  .medical_inner {
    padding-inline: 20px;
  }
}

.medical__list {
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(20px, 6.25vw, 80px);
}
@media screen and (max-width: 767px) {
  .medical__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 39px;
    gap: 20px;
  }
}

.medical__card {
  position: relative;
}
.medical__card:nth-last-child(1) .medical__card--txt-sub {
  line-height: 28px; /* 175% */
}
@media screen and (max-width: 767px) {
  .medical__card:nth-last-child(1) .medical__card--txt-sub {
    line-height: 19px; /* 158.333% */
  }
}

.medical__card--img {
  width: 460px;
  height: 290px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .medical__card--img {
    width: 335px;
    height: 210px;
    border-radius: 20px;
    overflow: hidden;
  }
}
.medical__card--img::after {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  content: "";
}

.medical__card--txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.medical__card--txt-main {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.08em;
  padding-bottom: 21px;
  position: relative;
  padding-left: 3px;
}
.medical__card:last-child .medical__card--txt-main {
  padding-top: 2px;
}
@media screen and (max-width: 767px) {
  .medical__card--txt-main {
    font-size: 20px;
  }
}
.medical__card--txt-main::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 40px;
  height: 2px;
  border-radius: 30px;
  background: #fff;
  content: "";
}
@media screen and (max-width: 767px) {
  .medical__card--txt-main::after {
    width: 30px;
  }
}

.medical__card--txt-sub {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.08em;
  margin-top: 21px;
  padding-left: 2px;
}
.medical__card:last-child .medical__card--txt-sub {
  margin-top: 17px;
  line-height: 175%;
}
@media screen and (max-width: 767px) {
  .medical__card--txt-sub {
    font-size: 12px;
  }
}

.medical__message {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px; /* 200% */
  margin-top: 60px;
  margin-left: 1px;
  background: #fff;
  padding: 36px 40px 35px;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .medical__message {
    margin-top: 21px;
    line-height: 24px; /* 171.429% */
    padding: 18px 20px 17px;
  }
}

.blog {
  margin-top: 139px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .blog {
    margin-top: 99px;
  }
}

.blog__list {
  margin-top: 79px;
  display: grid;
  width: 1000px;
  margin-inline: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 60px 50px;
  place-items: center;
  grid-area: 1/1/3/4;
}
@media screen and (max-width: 767px) {
  .blog__list {
    display: block;
    margin-top: 46px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1025px) {
  article:nth-of-type(3n + 1) {
    margin-left: 3px;
  }
  article:nth-of-type(1) {
    margin-left: -3px;
  }
  article:nth-of-type(2), article:nth-of-type(3) {
    margin-left: -6px;
  }
}
@media screen and (max-width: 767px) {
  article + article {
    margin-top: 20px;
  }
}

.blog__card {
  position: relative;
}
.blog__card.is-new::before {
  position: absolute;
  content: "NEW";
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  top: -1px;
  left: 3px;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .blog__card.is-new::before {
    font-size: 10px;
    top: 6px;
    left: 1px;
  }
}
.blog__card.is-new::after {
  position: absolute;
  top: -20px;
  left: -10px;
  width: 60px;
  height: 60px;
  background: url("../img/is-new-circle.svg") center center/cover;
  content: "";
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .blog__card.is-new::after {
    width: 40px;
    height: 40px;
    top: -7px;
    left: -8px;
  }
}

.blog__card--wrapper {
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  text-align: left;
}
@media screen and (min-width: 1025px) {
  .blog__card--wrapper {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (max-width: 767px) {
  .blog__card--wrapper {
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.blog__card--img {
  width: 300px;
  height: 188px;
}
@media screen and (max-width: 767px) {
  .blog__card--img {
    width: 133px;
    height: 101px;
  }
}

.blog__card--message {
  width: 300px;
  height: 127px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .blog__card--message {
    width: 202px;
    height: 101px;
  }
}

.blog__card--tag {
  position: absolute;
  z-index: 10;
  top: -14px;
  left: 24px;
  border-radius: 14px;
  background: #1391e6;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  padding: 6px 12px 5px;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .blog__card--tag {
    border-radius: 10px;
    font-size: 10px;
    padding: 2px 8px 1px;
    top: 7px;
    left: 10px;
  }
}

.blog__card--text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  padding-top: 23px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (max-width: 767px) {
  .blog__card--text {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 4px;
  }
}

.news-item-data {
  color: #888;
  font-size: 11px;
  font-weight: 500;
  margin-top: 4px;
  padding-bottom: 12px;
  margin-left: 24px;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .news-item-data {
    margin-top: 0;
    margin-left: 10px;
  }
}

.blog__btn--list {
  margin-top: 60px;
  margin-left: 6px;
}
@media screen and (max-width: 767px) {
  .blog__btn--list {
    margin-top: 40px;
    margin-left: 2px;
  }
}

.footer {
  margin-top: 191px;
}
@media screen and (max-width: 767px) {
  .footer {
    margin-top: 131px;
  }
}

.footer__inner {
  background: #dff1fd;
  padding-top: 56px;
  padding-inline: 140px;
  padding-bottom: 59px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .footer__inner {
    padding-top: 15px;
    padding-inline: 10px;
    padding-bottom: 62px;
  }
}
.footer__inner::before {
  position: absolute;
  top: -32px;
  left: 0;
  width: 100%;
  height: 32px;
  content: "";
  background: repeat-x url("../img/footer-wave.svg") left bottom;
}
@media screen and (max-width: 767px) {
  .footer__inner::before {
    background: repeat-x url("../img/footer-wave.svg") left 21px bottom;
  }
}

.footer__access {
  border-radius: 20px;
  background: #fff;
  padding-inline: 49px;
  padding-top: 40px;
  padding-bottom: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .footer__access {
    padding-inline: 10px;
    width: 355px;
    border-radius: 8px;
    padding-top: 32px;
    padding-bottom: 20px;
    display: block;
  }
}

.footer__info {
  text-align: center;
}

.footer__logo {
  width: 404px;
  height: 41px;
  margin-left: 37px;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 309px;
    height: 33px;
    margin-left: 13px;
  }
}

.footer__address {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer__address {
    margin-top: 11px;
    margin-left: 30px;
  }
}

.footer__address--num {
  font-size: 14px;
  font-weight: 500;
}

.footer__address--text {
  font-size: 14px;
  font-weight: 500;
  margin-left: 14px;
}

.footer__tel {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 109px;
}
@media screen and (max-width: 767px) {
  .footer__tel {
    margin-top: 15px;
    margin-left: 38px;
  }
}

.footer__tel--icon {
  width: 28px;
  height: 28px;
  padding-top: 8px;
}

.footer__tel--number {
  color: #1391e6;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.64px;
  margin-left: 4px;
}

.footer__tel--text {
  color: #1391e6;
  margin-top: -4px;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .footer__tel--text {
    margin-top: -1px;
    margin-left: -3px;
  }
}

.footer__links {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.footer__btn {
  background: #1391e6;
  padding-top: 16px;
  width: 220px;
  height: 56px;
  border-radius: 30px;
  border: 1px solid #1391e6;
  color: #fff;
  display: inline-block;
  text-align: center;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  margin-left: -31px;
}
.footer__btn.footer__contact-btn {
  background: #fff;
  margin-left: 20px;
  padding-top: 16px;
}
@media screen and (max-width: 767px) {
  .footer__btn.footer__contact-btn {
    margin-left: 16px;
    padding-top: 10px;
  }
}
.footer__btn:hover {
  color: #1391e6;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .footer__btn {
    width: 150px;
    height: 38px;
    padding-top: 9px;
  }
}

.footer__btn--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 2px;
}

.footer__btn--icon {
  display: inline-block;
  width: 30px;
  height: 20px;
  padding-top: 2px;
}
@media screen and (max-width: 767px) {
  .footer__btn--icon {
    padding-top: 0;
  }
}
.footer__btn--icon.footer__contact-btn--icon {
  width: 24px;
  height: 24px;
  padding-top: 0;
}
@media screen and (max-width: 767px) {
  .footer__btn--icon.footer__contact-btn--icon {
    width: 17px;
    height: 17px;
  }
}
@media screen and (max-width: 767px) {
  .footer__btn--icon {
    width: 35px;
    height: 20px;
  }
}

.footer__btn--text {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-left: 2px;
  vertical-align: top;
}
.footer__btn--text.footer__contact-btn--text {
  color: #1391e6;
  padding-left: 3px;
}
@media screen and (max-width: 767px) {
  .footer__btn--text.footer__contact-btn--text {
    font-size: 14px;
    font-weight: 400;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__btn--text {
    font-size: 14px;
    font-weight: 400;
    margin-left: 0;
  }
}

.footer__contact-btn--icon {
  width: 24px;
  height: 24px;
}

.footer__contact-btn--text {
  color: #1391e6;
  font-size: 16px;
  font-weight: 500;
}

.footer__schedule {
  width: 477px;
  height: 166px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.16);
  margin-top: 18px;
  position: relative;
  z-index: 1000;
}
.footer__schedule img {
  width: 483px;
  height: 172px;
  -o-object-fit: none;
     object-fit: none;
  vertical-align: bottom;
}
@media screen and (max-width: 767px) {
  .footer__schedule {
    width: 341px;
    height: 121px;
    margin-top: 21px;
    margin-left: -3px;
  }
}

.footer__map {
  width: 385px;
  height: 385px;
  margin-top: 12px;
  margin-left: 37px;
}
@media screen and (max-width: 767px) {
  .footer__map {
    width: 315px;
    height: 315px;
    margin-top: 16px;
    margin-inline: 10px;
  }
}

.footer__nav {
  margin-top: 44px;
}
@media screen and (max-width: 767px) {
  .footer__nav {
    margin-top: 60px;
  }
}

.footer__nev--inner {
  padding-inline: 84px;
}
@media screen and (max-width: 767px) {
  .footer__nev--inner {
    padding-inline: 10px;
  }
}

.footer__nav--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .footer__nav--wrapper {
    display: block;
  }
}

.footer__menu--title {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .footer__menu--title {
    margin-top: 39px;
  }
}

.footer__menu--item {
  font-size: 16px;
  font-weight: 500;
  margin-top: 19px;
  padding-left: 12px;
  position: relative;
}
.footer__menu--item::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url("../img/footer-arrow.svg");
  width: 6px;
  height: 12px;
  content: "";
}

.footer__menu--lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer__copyright {
  height: 55px;
  background: #1391e6;
  text-align: center;
  padding-top: 17px;
  margin-left: -4px;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    height: 112px;
    padding-top: 19px;
    margin-left: 0;
  }
}
.footer__copyright small {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.footer__pagetop {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 52px;
  height: 52px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .footer__pagetop {
    right: 12px;
    bottom: 98px;
  }
}
.footer__pagetop.is-show {
  pointer-events: auto;
  opacity: 1;
}

.btn {
  display: inline-block;
  padding: 11px 45px 10px;
  background-color: #fff;
  border: 1px solid #1391e6;
  border-radius: 24px;
  color: #1391e6;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.btn:hover {
  background-color: #1391e6;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .btn {
    padding: 9px 39px 8px;
  }
}

.btn--arrow-right {
  position: relative;
}
.btn--arrow-right::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  background: url("../img/arrow-btn-main.svg");
  width: 14px;
  height: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn--arrow-right:hover::after {
  right: 6px;
  background: url("../img/arrow-btn-white.svg");
}

html {
  overflow-x: hidden;
}

body {
  font-family: "M PLUS Rounded 1c";
  color: #1391e6;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #393939;
  overflow: hidden;
}