@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap");
a {
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
a:hover {
  color: #1391e6;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #393939;
  background-color: #fff;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .hidden-pc {
    display: none;
  }
}

.inner {
  margin-inline: auto;
  max-width: 1280px;
}
@media screen and (min-width: 1025px) {
  .inner {
    padding-inline: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inner {
    padding-inline: 40px;
  }
}
@media screen and (max-width: 767px) {
  .inner {
    padding-inline: 20px;
  }
}

.util__link {
  padding: 11px 46px;
  border-radius: 24px;
  border: 1px solid #1391e6;
  background: #fff;
  color: #1391e6;
  display: inline-block;
  text-align: center;
  position: relative;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.util__link::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
  background: url("../img/arrow-btn-main.svg");
  content: "";
  width: 12px;
  height: 12px;
}
.util__link:hover {
  color: #fff;
  background: #1391e6;
  background: url("../img/arrow-btn-white.svg");
}
@media screen and (max-width: 767px) {
  .util__link {
    padding: 9px 40px;
  }
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.header {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  opacity: 0.85;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
@media screen and (max-width: 1200px) {
  .header {
    height: 60px;
  }
}
.header.drawer-open {
  background: #0060a0;
}

.header__inner {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1200px) {
  .header__inner {
    padding-left: 20px;
    padding-right: 17px;
  }
}
@media screen and (max-width: 374px) {
  .header__inner {
    padding-inline: 5px;
  }
}

.header__left-wrapper {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1200px) {
  .header__left-wrapper {
    width: 200px;
  }
}

.header__icon {
  width: 34px;
  height: 32px;
}

.header__logo {
  width: 225px;
  height: 30px;
  margin-left: 11px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .header__right .header__nav {
    position: absolute;
    top: 60px;
    right: -100%;
    background: #0060a0;
    width: 100%;
    height: 100vh;
  }
  .drawer-open .header__right .header__nav {
    right: 0;
  }
}

.header__nav--list {
  padding-top: 16px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 1200px) {
  .header__nav--list {
    padding-top: 40px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

.header__nav--item {
  color: #393939;
}
@media screen and (max-width: 1200px) {
  .header__nav--item {
    color: #fff;
    width: 254px;
    margin-inline: auto;
    position: relative;
  }
  .header__nav--item:before, .header__nav--item:last-child::after {
    position: absolute;
    content: "";
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0;
    width: 254px;
    height: 2px;
    background-image: url("../img/border.svg");
  }
  .header__nav--item:last-child::after {
    top: auto;
    bottom: 0;
  }
}
@media screen and (min-width: 1025px) {
  .header__nav--item:hover {
    color: #1391e6;
  }
  .header__nav--item:hover .header__nav--text::after {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
}

@media screen and (max-width: 1200px) {
  .header__nav--wrapper {
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav--icon {
  width: 24px;
  height: 24px;
  margin-inline: auto;
  display: grid;
  place-items: center;
}
.header__nav--icon svg {
  display: grid;
  place-items: center;
}
.header__nav--icon svg path {
  fill: currentColor;
}
@media screen and (max-width: 1200px) {
  .header__nav--icon svg path {
    fill: #fff;
  }
}

.header__nav--text {
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  padding-block: 7px;
  position: relative;
}
@media screen and (min-width: 1201px) {
  .header__nav--text::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
    width: 20px;
    height: 2px;
    background-color: currentColor;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
}
@media screen and (max-width: 1200px) {
  .header__nav--text {
    margin-left: 14px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: left;
  }
  .header__nav--text::after {
    position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    width: 14px;
    height: 14px;
    background: no-repeat url(../img/icon-right.svg) center center/cover;
  }
}

.header__info {
  padding-top: 10px;
  margin-left: 32px;
  text-align: right;
}
@media screen and (max-width: 1200px) {
  .header__info {
    display: none;
  }
}
.header__info .header__address {
  font-size: 12px;
  font-weight: 500;
}
.header__info .header__tel {
  margin-top: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1391e6;
  width: 261px;
  height: 48px;
}
.header__info .header__tel--icon {
  width: 28px;
  height: 28px;
  padding-top: 8px;
}
.header__info .header__tel--number {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.64px;
  margin-left: 4px;
}

.header__hamburger-icon {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__hamburger-icon {
    display: block;
    width: 32px;
    height: 32px;
    margin-block: 14px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
  }
}

.header__drawer-bar {
  display: block;
  left: 3px;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__drawer-bar:nth-child(1) {
  top: 8px;
}
.header__drawer-bar:nth-child(2) {
  top: 15px;
}
.header__drawer-bar:nth-child(3) {
  top: 22px;
}
.drawer-open .header__drawer-bar path {
  fill: #fff;
}
.drawer-open .header__drawer-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 15px;
  left: 5px;
}
.drawer-open .header__drawer-bar:nth-child(2) {
  display: none;
}
.drawer-open .header__drawer-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 15px;
  left: 5px;
}

.mv {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .mv {
    margin-top: 15px;
  }
}

.swiper {
  height: 520px;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
  padding-inline: 60px;
}
@media screen and (max-width: 767px) {
  .swiper {
    height: 447px;
    padding-inline: 20px;
  }
}

.swiper-slide {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .swiper-slide {
    border-radius: 8px;
  }
}
.swiper-slide::after {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-vertical > .swiper-pagination-bullets {
  top: initial;
  bottom: -29px;
  left: 37px;
  right: initial;
}
@media screen and (max-width: 767px) {
  .swiper-container-vertical > .swiper-pagination-bullets {
    bottom: -12px;
    left: 7px;
  }
}

.swiper-pagination-bullet {
  background: #c2c2c2;
  width: 8px;
  height: 8px;
}
@media screen and (max-width: 767px) {
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-top: 10px !important;
}
@media screen and (max-width: 767px) {
  .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-top: 8px !important;
  }
}

.swiper-pagination-bullet-active {
  background: #1391e6;
}

.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  margin-top: -27px;
}
@media screen and (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    margin-top: -19px;
  }
}

.swiper-button-prev {
  left: 32px;
  background: url(../img/swiper-button-prev.svg) center center/cover;
}
@media screen and (max-width: 767px) {
  .swiper-button-prev {
    left: 0;
  }
}

.swiper-button-next {
  right: 28px;
  background: url(../img/swiper-button-next.svg) center center/cover;
}
@media screen and (max-width: 767px) {
  .swiper-button-next {
    right: 0;
  }
}

.mv__message {
  position: absolute;
  top: 346px;
  left: 122px;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .mv__message {
    top: 332px;
    left: 40px;
  }
}

.mv__message--text {
  color: #fff;
  text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2.56px;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 767px) {
  .mv__message--text {
    font-size: 20px;
    letter-spacing: 1.6px;
  }
}
.mv__message--text::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 4px;
  background: url("../img/repeat-grid.png");
}
@media screen and (max-width: 767px) {
  .mv__message--text::after {
    background: url("../img/sp/repeat-grid-sp.png");
    height: 2px;
    bottom: -3px;
  }
}
.mv__message--text:nth-of-type(2) {
  margin-top: 18px;
}
@media screen and (max-width: 767px) {
  .mv__message--text:nth-of-type(2) {
    margin-top: 13px;
  }
}

.mv__reservation {
  width: 92px;
  height: 120px;
  border-radius: 20px 0px 0px 20px;
  background: #1391e6;
  position: absolute;
  top: 56px;
  right: 0;
  z-index: 150;
}

.mv__reservation--icon {
  width: 52px;
  height: 32px;
  margin-top: 20px;
  margin-inline: auto;
}

.mv__reservation--text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
  margin-top: 11px;
}

.mv__footer {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 56px;
  margin-right: -3px;
}
@media screen and (max-width: 767px) {
  .mv__footer {
    position: relative;
    margin-top: 131px;
  }
}

.mv__news {
  width: 542px;
}
@media screen and (max-width: 767px) {
  .mv__news {
    width: 100%;
    padding-inline: 20px;
  }
}

.mv__news--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7px;
  border-bottom: 1px solid currentColor;
}

.mv__news--top-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 12px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .mv__news--top-title {
    margin-left: 15px;
  }
}
.mv__news--top-title span {
  margin-left: 14px;
  color: #1391e6;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-top: 11px;
}
@media screen and (max-width: 767px) {
  .mv__news--top-title span {
    font-size: 11px;
    letter-spacing: 1.1px;
    margin-left: 13px;
    margin-top: 13px;
  }
}

.mv__news--past {
  color: #888;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: -1px;
  width: 132px;
}
@media screen and (max-width: 767px) {
  .mv__news--past {
    font-size: 11px;
    margin-top: 9px;
    margin-right: -8px;
  }
}

.mv__news--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 9px;
  border-bottom: 1px solid currentColor;
}
@media screen and (max-width: 767px) {
  .mv__news--body {
    padding-bottom: 11px;
  }
}

.mv__news--time {
  font-size: 12px;
  font-weight: 500;
  margin-top: 11px;
  margin-left: 13px;
}
@media screen and (max-width: 767px) {
  .mv__news--time {
    margin-top: 14px;
    margin-left: 6px;
  }
}

.mv__news--title {
  margin-top: 9px;
  margin-left: 24px;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .mv__news--title {
    margin-top: 12px;
  }
}

.mv__news--arrow {
  margin-top: 12px;
  margin-left: auto;
  margin-right: 7px;
  width: 14px;
  height: 14px;
}

.mv__schedule {
  width: 484px;
  height: 172px;
  margin-top: -53px;
  margin-left: -1px;
  position: relative;
  z-index: 1000;
}
@media screen and (max-width: 767px) {
  .mv__schedule {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 340px;
    height: 121px;
    top: -101px;
  }
}

.concept {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.concept::after {
  position: absolute;
  top: -180px;
  left: 416px;
  background: url("../img/concept-bg.png");
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .concept {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .concept::after {
    top: 0;
    left: 10px;
    background: url("../img/sp/concept-bg_sp.png") no-repeat;
  }
}

.concept__img {
  width: 640px;
  height: 438px;
}
@media screen and (max-width: 767px) {
  .concept__img {
    margin-top: 41px;
    width: 334px;
    height: 230px;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
  }
}

.concept__content {
  margin-left: 95px;
  width: 407px;
}
@media screen and (max-width: 767px) {
  .concept__content {
    margin-left: 0;
    padding-inline: 20px;
    width: 100%;
  }
}

.concept__content--title-sub {
  color: #1391e6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-top: 35px;
}
@media screen and (max-width: 767px) {
  .concept__content--title-sub {
    font-size: 11px;
    letter-spacing: 1.1px;
    margin-top: 110px;
  }
}

.concept__content--title-main {
  font-size: 28px;
  font-weight: 700;
  line-height: 44px; /* 157.143% */
  letter-spacing: 2.24px;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .concept__content--title-main {
    font-size: 20px;
    line-height: 32px; /* 160% */
    letter-spacing: 1.6px;
    margin-top: 14px;
  }
}

.concept__content--text {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  margin-top: 36px;
}
@media screen and (max-width: 767px) {
  .concept__content--text {
    margin-top: 27px;
  }
}

.concept__content--btn {
  font-size: 14px;
  font-weight: 500;
  margin-top: 37px;
}
@media screen and (max-width: 767px) {
  .concept__content--btn {
    text-align: center;
  }
}

.inline-block {
  display: inline-block;
}

.color-accent {
  color: #ee5a6d;
}

.recommend {
  margin-top: 225px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .recommend {
    margin-top: 97px;
  }
}

.util__title {
  color: #393939;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.08em;
  padding-inline: 95px;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 767px) {
  .util__title {
    text-align: center;
    font-size: 20px;
    padding-inline: 65px;
  }
}
.util__title::before, .util__title::after {
  position: absolute;
  top: 9px;
  content: "";
  color: #1391e6;
  background: url("../img/title-deco.svg");
  width: 67px;
  height: 20px;
}
@media screen and (max-width: 767px) {
  .util__title::before, .util__title::after {
    width: 49px;
    height: 13px;
    background: url("../img/sp/title-deco-sp.svg");
  }
}
.util__title::before {
  left: 0;
}
@media screen and (max-width: 767px) {
  .util__title::before {
    left: 1px;
  }
}
.util__title::after {
  right: 3px;
}
@media screen and (max-width: 767px) {
  .util__title::after {
    right: 1px;
  }
}

.recommend__list {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 61px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .recommend__list {
    margin-top: 39px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 57px;
  }
}

.recommend__item {
  width: 281px;
}

.recommend__number {
  width: 182px;
  height: 32px;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .recommend__number {
    width: 177px;
  }
}

.recommend__img {
  width: 220px;
  height: 220px;
  margin-top: 16px;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .recommend__img {
    margin-top: 12px;
  }
}

.recommend__text--main {
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.6px;
  width: 276px;
  height: 44px;
  border-radius: 22px;
  background: #1391e6;
  margin-top: -21px;
  margin-left: 2px;
  position: relative;
}
.recommend__text--main::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -22px;
  background: url("../img/recommend-polygon.svg") no-repeat;
  width: 20px;
  height: 26px;
  content: "";
}
@media screen and (max-width: 767px) {
  .recommend__text--main::after {
    margin-left: 3px;
  }
}

.recommend__text--sub {
  width: 284px;
  line-height: 24px; /* 171.429% */
  margin-top: 34px;
  margin-left: -1px;
  text-align: left;
}