@use "sass:map";
@use "base";
@use "common";
@use "header";

.mv {
  margin-top: 40px;
  @include base.mq(sp) {
    margin-top: 15px;
  }
}

.swiper {
  height: 520px;
  margin-inline: auto;
  overflow: hidden;
  position: relative;
  padding-inline: 60px;
  @include base.mq(sp) {
    height: 447px;
    padding-inline: 20px;
  }
}

.swiper-wrapper {
}

.swiper-slide {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  @include base.mq(sp) {
    border-radius: 8px;
  }
  &::after {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.1);
  }
}

.swiper-container-vertical > .swiper-pagination-bullets {
  top: initial;
  bottom: -29px;
  left: 37px;
  right: initial;
  @include base.mq(sp) {
    bottom: -12px;
    left: 7px;
  }
}

.swiper-pagination-bullet {
  background: #c2c2c2;
  width: 8px;
  height: 8px;
  @include base.mq(sp) {
    width: 6px;
    height: 6px;
  }
  & + & {
    margin-top: 10px !important;
    @include base.mq(sp) {
      margin-top: 8px !important;
    }
  }
}

.swiper-pagination-bullet-active {
  background: base.$color-main;
}
.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  margin-top: -27px;
  @include base.mq(sp) {
    width: 40px;
    height: 40px;
    margin-top: -19px;
  }
}
.swiper-button-prev {
  left: 32px;
  background: url(../img/swiper-button-prev.svg) center center / cover;
  @include base.mq(sp) {
    left: 0;
  }
}
.swiper-button-next {
  right: 28px;
  background: url(../img/swiper-button-next.svg) center center / cover;
  @include base.mq(sp) {
    right: 0;
  }
}

.mv__message {
  position: absolute;
  top: 346px;
  left: 122px;
  z-index: 100;
  @include base.mq(sp) {
    top: 332px;
    left: 40px;
  }
}
.mv__message--text {
  color: #fff;
  text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2.56px;
  display: inline-block;
  position: relative;
  @include base.mq(sp) {
    font-size: 20px;
    letter-spacing: 1.6px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 4px;
    background: url("../img/repeat-grid.png");
    @include base.mq(sp) {
      background: url("../img/sp/repeat-grid-sp.png");
      height: 2px;
      bottom: -3px;
    }
  }
  &:nth-of-type(2) {
    margin-top: 18px;
    @include base.mq(sp) {
      margin-top: 13px;
    }
  }
}
.mv__reservation {
  width: 92px;
  height: 120px;
  border-radius: 20px 0px 0px 20px;
  background: base.$color-main;
  position: absolute;
  top: 56px;
  right: 0;
  z-index: 150;
}

.mv__reservation--icon {
  width: 52px;
  height: 32px;
  margin-top: 20px;
  margin-inline: auto;
}

.mv__reservation--text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
  margin-top: 11px;
}

.mv__footer {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 56px;
  margin-right: -3px;
  @include base.mq(sp) {
    position: relative;
    margin-top: 131px;
  }
}

.mv__news {
  width: 542px;
  @include base.mq(sp) {
    width: 100%;
    padding-inline: 20px;
  }
}

.mv__news--head {
  display: flex;
  padding-bottom: 7px;
  border-bottom: 1px solid currentColor;
}

.mv__news--top-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 12px;
  width: 140px;
  display: flex;
  @include base.mq(sp) {
    margin-left: 15px;
  }
  span {
    margin-left: 14px;
    color: base.$color-main;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-top: 11px;
    @include base.mq(sp) {
      font-size: 11px;
      letter-spacing: 1.1px;
      margin-left: 13px;
      margin-top: 13px;
    }
  }
}

.mv__news--past {
  color: #888;
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-top: 7px;
  margin-left: auto;
  margin-right: -1px;
  width: 132px;
  @include base.mq(sp) {
    font-size: 11px;
    margin-top: 9px;
    margin-right: -8px;
  }
}

.mv__news--body {
  display: flex;
  padding-bottom: 9px;
  border-bottom: 1px solid currentColor;
  @include base.mq(sp) {
    padding-bottom: 11px;
  }
}

.mv__news--time {
  font-size: 12px;
  font-weight: 500;
  margin-top: 11px;
  margin-left: 13px;
  @include base.mq(sp) {
    margin-top: 14px;
    margin-left: 6px;
  }
}

.mv__news--title {
  margin-top: 9px;
  margin-left: 24px;
  font-size: 14px;
  @include base.mq(sp) {
    margin-top: 12px;
  }
}
.mv__news--arrow {
  margin-top: 12px;
  margin-left: auto;
  margin-right: 7px;
  width: 14px;
  height: 14px;
}
.mv__schedule {
  width: 484px;
  height: 172px;
  margin-top: -53px;
  margin-left: -1px;
  position: relative;
  z-index: 1000;
  @include base.mq(sp) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
    height: 121px;
    top: -101px;
  }
}
