@use "sass:map";
@use "base";
@use "common";

.header {
  z-index: #{map-get(base.$layer, header)};
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: base.$header-height-pc;
  @include base.mq(sp) {
    height: base.$header-height-sp;
  }
  opacity: 0.85;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  &.drawer-open {
    background: #0060a0;
  }
  // drawer__navの配置指定のためのrelative
  position: relative;
}
.header__inner {
  max-width: base.$max-width;
  margin-inline: auto;
  padding-inline: base.$header-padding-pc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include base.mq(sp) {
    padding-left: base.$header-padding-sp;
    padding-right: 17px;
  }
}
.header__left {
  .header__left-wrapper {
    width: 280px;
    display: flex;
    align-items: center;
  }

  .header__icon {
    width: 34px;
    height: 32px;
  }
  .header__logo {
    width: 225px;
    height: 30px;
    margin-left: 11px;
  }
}
.header__right {
  // PCメニュー、ハンバーガー、全てflexで横並びにする
  display: flex;
  .header__nav {
    @include base.mq(sp) {
      position: absolute;
      top: base.$header-height-sp;
      right: -100%;
      background: #0060a0;
      width: 100%;
      height: 100vh;
      // transition: all 0.5s;
      .drawer-open & {
        right: 0;
      }
    }
  }
  .header__nav--list {
    padding-top: 16px;
    // padding-bottom: 10px;
    height: base.$header-height-pc;
    display: flex;
    gap: 24px;
    @include base.mq(sp) {
      padding-top: 40px;
      // padding-bottom: 0;
      height: auto;
      flex-direction: column;
      gap: 0;
    }
  }
  .header__nav--item {
    color: #393939;
    @include base.mq(sp) {
      color: #fff;
      width: 254px;
      margin-inline: auto;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 254px;
        height: 2px;
        background-image: url("../img/border.svg");
      }
      &:last-child::after {
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 254px;
        height: 2px;
        background-image: url("../img/border.svg");
      }
    }
    &:hover {
      // スマホはホバーアクション無し
      @include base.mq(pc) {
        color: base.$color-main;
        .header__nav--text::after {
          transform: translateX(-50%) scaleX(1);
        }
      }
    }
  }
  .header__nav--wrapper {
    @include base.mq(sp) {
      height: 56px;
      display: flex;
      align-items: center;
    }
  }
  .header__nav--icon {
    width: 24px;
    height: 24px;
    margin-inline: auto;
    display: grid;
    place-items: center;
    svg {
      display: grid;
      place-items: center;
      path {
        fill: currentColor;
      }
    }
    @include base.mq(sp) {
      margin: 0;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
  .header__nav--text {
    // margin-top: 7px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    position: relative;
    padding-block: 7px;
    // padding-bottom: 7px;
    position: relative;
    @include base.mq(pc) {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        width: 20px;
        height: 2px;
        background-color: currentColor;
        transition: transform 0.2s;
      }
    }
    @include base.mq(sp) {
      margin-left: 14px;
      font-size: 14px;
      font-weight: 500;
      width: 100%;
      text-align: left;
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 14px;
        height: 14px;
        background-image: url("../img/icon-right.svg");
      }
    }
  }
  .header__info {
    @include base.mq(sp) {
      display: none;
    }
    padding-top: 10px;
    margin-left: 32px;
    text-align: right;
    .header__address {
      font-size: 12px;
      font-weight: 500;
    }
    .header__tel {
      margin-top: -3px;
      display: flex;
      color: #1391e6;
      width: 261px;
      height: 48px;
    }
    .header__tel--icon {
      width: 28px;
      height: 28px;
      padding-top: 8px;
    }
    .header__tel--number {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -0.64px;
      margin-left: 4px;
    }
  }
}
.header__hamburger-icon {
  @include base.mq(pc) {
    display: none;
  }
  display: block;
  width: 32px;
  height: 32px;
  margin-block: 14px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}
.header__drawer-bar {
  display: block;
  left: 3px;
  position: absolute;
  transition: 0.3s;
  &:nth-child(1) {
    top: 8px;
  }
  &:nth-child(2) {
    top: 15px;
  }
  &:nth-child(3) {
    top: 22px;
  }
  .drawer-open & {
    path {
      fill: #fff;
    }
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 15px;
      left: 5px;
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      top: 15px;
      left: 5px;
    }
  }
}
// .header__drawer-bar {
//   background-color: base.$color-main;
//   border-radius: 4px;
//   display: block;
//   width: 27px;
//   height: 2px;
//   left: 0;
//   position: absolute;
//   transition: 0.3s;
//   &:nth-child(1) {
//     top: 0;
//   }
//   &:nth-child(2) {
//     top: 8px;
//   }
//   &:nth-child(3) {
//     top: 16px;
//   }
//   .is-open & {
//     &:nth-child(1) {
//       transform: rotate(45deg);
//       top: 8px;
//     }
//     &:nth-child(2) {
//       display: none;
//     }
//     &:nth-child(3) {
//       transform: rotate(-45deg);
//       top: 8px;
//     }
//   }
// }

.firstview__text-sub {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 170%;
  white-space: nowrap;
}

.feature__item {
  & + & {
    margin-top: 50px;
  }
}

.news__img {
  flex: 0 0 260px;
}
.news__message {
  flex: 0 1 100%;
}
.contact {
  background: url(../img/contact_bg.png) no-repeat center center / cover;

  textarea {
    //ブラウザごとに初期値異なるので初期化
    //特に初期化しないのでコメントアウト
    appearance: none; //境界線が変わるかも？
    border: none;
    font-family: inherit;
    position: relative;
    width: 100%;
    color: base.$color-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 170%;
    padding: 6px 24px 5px 24px;
    min-height: 122px;
    resize: vertical;
  }
}

.contact__require-label {
  display: inline-block;
  color: #e7728e;
}

input {
  &[type="text"],
  &[type="email"] {
    //ブラウザごとに初期値異なるので初期化
    //特に初期化しないのでコメントアウト
    appearance: none; //境界線が変わるかも？
    border: none;
    font-family: inherit;
    // position: relative;
    width: 100%;
    color: base.$color-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 170%;
    box-shadow: 5px 6px 16px 0px rgba(96, 96, 96, 0.16);
    // display: inline-block;
    // vertical-align: top;
    height: 40px;
    @include base.mq(pc) {
      padding: 6px 24px 5px 24px;
    }
    @include base.mq(sp) {
      padding: 7px 15px;
    }
  }
  &[type="radio"] {
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    vertical-align: top;
  }

  &[type="checkbox"] {
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    position: absolute;
    vertical-align: top;
  }
}

.contact__radio {
  display: flex;
}
.contact__radio-select {
  position: relative;
}
.contact__radio-label {
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 170%;
  padding: 6px 24px 5px 22px;
  border: 1px solid #fff;
  background-color: #fff;
  color: base.$color-main;
  @include base.mq(sp) {
    padding: 6px 23px 5px;
  }
  .contact__radio-select > input:checked + & {
    background: base.$color-main;
    color: #fff;
  }
}
.contact__privacy {
  @include base.mq(pc) {
    margin-top: 31px;
  }
  @include base.mq(sp) {
    margin-top: 29px;
  }
}
.contact__privacy-label {
  font-size: 16px;
  font-weight: 300;
  line-height: 170%;
  position: relative;
  padding-left: 30px;
  &:before {
    background: #fff;
    border: solid 1px base.$color-main;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 2px;
    @include base.mq(sp) {
      top: 0;
    }
    transition: 0.2s;
    height: 22px;
    width: 22px;
  }
  &:after {
    border-bottom: solid 2px #4973ff;
    border-left: solid 2px #4973ff;
    content: "";
    display: block;
    height: 9px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg);
    transition: 0.2s;
    width: 17px;

    @include base.mq(pc) {
      left: 2px;
      top: 6px;
    }

    @include base.mq(sp) {
      left: 3px;
      top: 6px;
    }
    .contact__privacy-input:checked + & {
      opacity: 1;
    }
  }
}
.contact__privacy-link {
  color: base.$color-main;
  text-decoration: underline;
  font-weight: 300;
}
.contact__button {
  @include base.mq(pc) {
    margin-top: 44px;
  }
  @include base.mq(sp) {
    margin-top: 22px;
  }
}
.contact__message {
  display: none;
}
.contact__message -error {
  display: none;
}

.footer {
  padding-block: 38px 10px;
  @include base.mq(sp) {
    padding-block: 39px 10px;
  }
}
.footer__logo {
  margin-inline: auto;
  // margin-top: 40px;
  width: 120px;
}
.footer__link-list {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  gap: 32px;
  @include base.mq(sp) {
    margin-top: 23px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  font-size: 12px;
  font-weight: 300;
  line-height: 170%;
}

.footer__sns-list {
  @include base.mq(pc) {
    margin-top: 15px;
  }
  margin-top: 11px;
  display: flex;
  @include base.mq(pc) {
    gap: 39px;
  }

  justify-content: center;
  font-size: 22px;
  vertical-align: top;
  color: base.$color-main;
}
.fa-twitter {
  font-size: 22px;
  @include base.mq(sp) {
    font-size: 21px;
  }
}
.footer__sns-instagram {
  @include base.mq(pc) {
    font-size: 21px;
  }
}
.fa-instagram {
  @include base.mq(pc) {
    font-size: 21px;
  }
  @include base.mq(sp) {
    font-size: 22px;
    margin-left: 39px;
  }
}
.footer__sns-line {
  @include base.mq(pc) {
    font-size: 21px;
  }
  @include base.mq(sp) {
    margin-left: 39px;
    font-size: 22px; //縦方向の場所調整
  }
}
.fa-line {
  @include base.mq(pc) {
    font-size: 19px;
  }
  @include base.mq(sp) {
    font-size: 18px; //アイコンサイズ
  }
}
.footer__copyright {
  text-align: center;
  margin-top: 24px;
  @include base.mq(sp) {
    margin-top: 19px;
  }
  font-size: 12px;
  font-weight: 300;
  line-height: 170%;
  letter-spacing: 1px;
  color: #888888;
}
