@use "sass:map";
@use "./mixin" as *;
@use "./variable" as *;
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap");
// ボタンなどの共通パーツ

// a {
// 追加
// transition: 0.2s ease-in-out;
// &:hover {
//   color: map.get($color, main);
// }
// }
img {
  //追加
  width: 100%;
}

// 非表示設定
.hidden-sp {
  @include mq(sp) {
    display: none;
  }
}

.hidden-pc {
  @include mq(pc) {
    display: none;
  }
}
.color-accent {
  color: map.get($color, accent);
}
.inner {
  //中央寄せのためのmargin
  margin-inline: auto;

  // 幅が過大な時のためのmax-width
  max-width: $max-width;

  // window幅が狭い時に窮屈にならないためのpadding
  @include mq(pc) {
    padding-inline: $section-padding-pc;
  }
  @include mq(tab) {
    padding-inline: $section-padding-pc;
  }
  @include mq(sp) {
    padding-inline: $section-padding-sp;
  }
}
.inline-block {
  display: inline-block;
}

.util__title {
  color: #393939;
  text-align: center;
  font-family: map.get($font, util-title);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.08em;
  padding-left: 95.5px;
  padding-right: 93px;
  display: inline-block;
  position: relative;
  @include mq(sp) {
    text-align: center;
    font-size: 20px;
    padding-inline: 65px;
  }
  &::before,
  &::after {
    position: absolute;
    top: 11px;
    content: "";
    color: map.get($color, main);
    background: url("../img/title-deco.svg");
    width: 67px;
    height: 20px;
    @include mq(sp) {
      width: 49px;
      height: 13px;
      background: url("../img/sp/title-deco-sp.svg");
      top: 8px;
    }
  }
  &::before {
    left: 0;
    // @include mq(sp) {
    //   left: 1px;
    // }
  }
  &::after {
    right: 0;
    // @include mq(sp) {
    //   right: 1px;
    // }
  }
}

// 画像は親blockの横幅いっぱいにする
// img {
//   width: 100%;
//   height: 100%; //高さを可変にする
//   vertical-align: top; //微妙な余白を消す
//   // height: auto;
//   // vertical-align: middle;
// }

// .main-button {
//   font-weight: bold;
//   letter-spacing: 0.025em;
//   padding-block: calc(10px - $button-border-size);
//   padding-inline: calc(30px - $button-border-size);
//   display: block;
//   width: 280px;
//   // display: inline-block;
//   // min-width: 150px;
//   border-radius: 10px;
//   border: $button-border-size solid currentColor;
//   // background: $color-yellow;
//   font-size: 18px;
//   // height: 48px;
//   // line-height: 48px;
//   line-height: 1.7;
//   // color: $color-white;
//   text-align: center;
//   transition: background-color 0.3s, color 0.3s;
//   box-shadow: 0 3px 5px #3e3e3e;
//   // cursor: pointer;
//   &:not(:disabled):hover {
//     background: #f18900;
//   }
// }

// .section {
//   //前のsectionを意識してmargin-top設定,margin-bottomは次の要素のmargin-topで対処（相殺を考慮）
//   margin-top: 160px;
//   @include mq(sp) {
//     margin-top: 95px;
//   }
//   //子要素のwidth,heightを意識してpadding設定
//   // padding-block: 20px;
// }

// .content {
//   margin-top: 64px;
// }

// table {
//   border-collapse: collapse; //枠線の重複を防ぐ
//   table-layout: fixed; //幅指定した列はその幅で、他の列の幅は均等揃え
//   text-align: center; //横方向の中央寄せ
//   vertical-align: middle; //縦方向の中央寄せ
// }
